# Default to yes for npm init prompts
init-yes=true

# Set default author info
init-author-name=Kevin
init-author-email=kvn@lws.io

# Suppress funding messages
fund=false

# Exact versions when installing (no ^ prefix)
save-exact=true
